.articles {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.articles .articles-container {
    height: 100%;
    min-width: calc(100% - 320px);
    /* border-left: 0.01em solid var(--Red); */
    display: flex;
    flex-direction: column;
    padding: 4rem 2.5rem;
    gap: 2rem;
}

.articles .articles-container  h4{
    color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.articles .articles-container .article_content{
    width: 90%;
    display: flex;
    height: 50%;
    border: 1px solid var(--Red);
    border-radius:1rem;
    padding: 2%;
}

.articles .articles-container .article_content img{
    width: 25%;
    height: 100%;
}

.articles .articles-container .article_content p{
    padding-left: 1%;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.428px;
}

.articles .articles-container .article_content .delete-button{
    background: none;
    color: var(--Red);
    border: none;
    font-size: 2rem;
    margin:9rem 0 0 2rem;
}